@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: #131316;
  color: #e4e1e6;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
}
